html {
  font-size: 16px;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  // -webkit-text-size-adjust: 100%;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--background-color);
  color: var(--font-color);
  // font: 100% var(--font-stack);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  // transition:
  //   color 0.5s,
  //   background-color 0.5s;
}

body * {
  // font: 100% var(--font-stack);
  box-sizing: border-box;
}

main {
  display: block;
  // min-height: calc(100vh - 250px);
}

b,
strong {
  font-weight: 700;
}

a {
  color: var(--a-color);
  &:visited {
    color: var(--a-visited-color);
  }
  // &:hover {
  //   // color: #0000ee;
  // }
  // &:focus-visible {
  //   // color: #be92e8;
  // }
}

h1 {
  color: var(--font-color);
}

code {
  display: inline-block;
  height: 250px;
  border: 1px solid #ffffff;
  overflow-y: auto;
}

img {
  border: none;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   // font-family: $font-family;
//   // font-style: $base-h-style;
//   // font-weight: $base-h-weight;
//   // letter-spacing: $base-h-spacing;
//   // line-height: $base-h-height;
//   // text-rendering: optimizeLegibility;
//   // text-transform: $base-h-transform;
// }
// button,
// .btn {
// }
// article,
// aside,
// blockquote,
// details,
// figcaption,
// figure,
// footer,
// header,
// main,
// nav,
// section {
//   display: block;
// }
// details {
// }
// summary {
//   &:hover {
//   }
//   &:focus {
//   }
// }
// blockquote,
// form,
// figure {
// }
// figcaption {
//   // font-size: La más pequeña;
// }
// audio,
// canvas,
// progress,
// video {
//   display: inline-block;
// }
// audio:not([controls]) {
//   display: none;
//   height: 0;
// }
// audio,
// canvas,
// iframe,
// video {
//   vertical-align: middle;
// }
// iframe {
//   border: none;
// }
// progress {
//   vertical-align: baseline;
// }
// abbr,
// ins {
//   text-decoration: none;
// }
// abbr {
// }
// ins {
// }
// dfn,
// i,
// em,
// cite,
// q {
//   font-family: var(--font-stack);
//   font-style: italic;
// }
// small {
//   // font-size: La más pequeña;
// }
// sub,
// sup {
//   // font-size: La más pequeña;
//   line-height: 0;
//   position: relative;
//   vertical-align: baseline;
// }
// sub {
//   bottom: -0.25em;
// }
// sup {
//   top: -0.5em;
// }
// code,
// kbd,
// samp,
// var,
// mark {
//   display: inline;
//   font-family: monospace;
//   font-weight: normal;
//   padding: 0.25em 0.5em;
//   white-space: pre-wrap;
//   word-break: break-all;
// }
// code,
// pre,
// samp {
// }
// kbd {
//   &::before {
//   }
// }
// samp {
//   &::before {
//   }
// }
// var {
// }
// mark {
// }
// pre {
// }
// hr {
// }
// svg {
//   fill: currentColor;
// }
// svg:not(:root) {
//   overflow: hidden;
// }
// // formularios
// fieldset {
// }
// legend {
// }
// input,
// textarea,
// select {
//   &:hover {
//   }
//   &:focus {
//   }
// }
// label {
// }
// select {
// }
// // listas
// ul,
// ol {
//   ul,
//   ol {
//     li {
//       &::before {
//       }
//     }
//   }
//   li {
//   }
// }
// ul {
//   > li {
//     &::before {
//     }
//   }
// }
// dl {
//   dt {
//   }
//   dd {
//   }
// }
// // tablas
// table {
//   caption {
//   }
//   td,
//   th {
//   }
//   th {
//   }
//   td {
//   }
//   thead {
//     td,
//     th {
//     }
//   }
//   tfoot {
//     td,
//     th {
//     }
//   }
// }
