.container {
  background: var(--container-background-color);
  width: calc(100% - 60px);
  // max-width: 1024px;
  max-width: 800px;
  // max-width: 768px;
  border: 1px solid rgba($color: #fff, $alpha: 0.1);
  border-radius: 8px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  &.sin-fondo {
    background: transparent;
    border: none;
    max-width: 1000px;
    height: 100%;
    &.w-inherit {
      @media (max-width: 768px) {
        width: inherit;
        // max-width: 800px;
      }
    }
  }
  // padding: 24px;
  @media (min-width: 768px) {
    // padding: 40px;
    // max-width: 800px;
  }
}

.flex {
  display: flex;
  flex-flow: row wrap;
}

@each $dispositivo, $configuracion in $columnas {
  @include mediaquery($dispositivo) {
    .flex {
      margin-right: calc(map-get($configuracion, 'espaciado') * -0.5);
      margin-left: calc(map-get($configuracion, 'espaciado') * -0.5);
      > [class^='columna-'],
      > [class*=' columna-'] {
        flex-basis: calc(100% - map-get($configuracion, 'espaciado'));
        max-width: calc(100% - map-get($configuracion, 'espaciado'));
        margin-left: map-get($configuracion, 'espaciado') * 0.5;
        margin-right: map-get($configuracion, 'espaciado') * 0.5;
      }
    }
    // .grid {
    //   column-gap: map-get($configuracion, 'espaciado');
    //   grid-template-columns: repeat(map-get($configuracion, 'columnas'), 1fr);
    //   > [class^='columna-'],
    //   > [class*=" columna-"] {
    //     grid-column: span 16;
    //   }
    // }
    // .columns {
    //   column-gap: map-get($configuracion, 'espaciado');
    // }
    @for $i from 1 through map-get($configuracion, 'columnas') {
      .flex > .columna-#{$i} {
        flex-basis: calc(
          ($i / map-get($configuracion, 'columnas') * 100%) - map-get($configuracion, 'espaciado')
        );
        max-width: calc(
          ($i / map-get($configuracion, 'columnas') * 100%) - map-get($configuracion, 'espaciado')
        );
      }
      // .grid > .columna-#{$i} {
      //   grid-column: span $i;
      // }
      // .columns-#{$i} {
      //   column-count: $i;
      // }
    }
  }
}
@each $dispositivo, $configuracion in $columnas {
  @include mediaquery($dispositivo) {
    @for $i from 1 through map-get($configuracion, 'columnas') {
      .flex > .columna-#{$i}-#{$dispositivo} {
        flex-basis: calc(
          ($i / map-get($configuracion, 'columnas') * 100%) - map-get($configuracion, 'espaciado')
        );
        max-width: calc(
          ($i / map-get($configuracion, 'columnas') * 100%) - map-get($configuracion, 'espaciado')
        );
        margin-left: map-get($configuracion, 'espaciado') * 0.5;
        margin-right: map-get($configuracion, 'espaciado') * 0.5;
      }
      // .grid > .columna-#{$i}-#{$dispositivo} {
      //   grid-column: span $i;
      // }
      // .columns-#{$i}-#{$dispositivo} {
      //   column-count: $i;
      // }
    }
  }
}
