// normalize.scss

html,
body {
  font: 100% $font-stack;
  // color: $primary-color;
  // background: white;
  color: #fff;
  background: $background-color;
  line-height: 1.3;
  p {
    // color: red;
  }
}