// normalize.scss
$font-stack: Monaco, Roboto, Avenir, Helvetica, Arial, sans-serif;
// $primary-color: #333;
$background-color: #0d2f5c;

html,
body {
  font: 100% $font-stack;
  // color: $primary-color;
  // background: white;
  color: white;
  background: $background-color;

  p {
    // color: red;
  }
}