@media screen and (min-width: 375px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    aside {
      display: block;
      width: 33%;
      height: 70vh;
      padding: 0 16px;
      overflow-y: auto;
    }
    section#content {
      display: block;
      width: 68%;
      height: 70vh;
      padding: 0 16px;
      overflow-y: auto;
    }
  }
}
